<div class="upload"> 
  <input type="file" #fileUpload style="display: none" (change)="saveFile($event)" accept="application/pdf"/> 
  <ul>
    <li><input class="path" type="text" [(value)]="filepath"  disabled /></li>
    <li><input class="btn" type="button" (click)="fileUpload.click()" value="Browse" accept="application/pdf"
      /></li>
  </ul>

  <br> 
<br>


<form name="theform">
<input id="numberOfMinutes" type="number"  placeholder="240"  style="margin:12px"
(input)="onUpdateNumberOfMinutes($event)"
/>

<input type="text" id="ticketId" placeholder="ticketId" style="margin:12px" 
(input)="onUpdateTicketId($event)"
/>
  
  <input type="email" name="email" id="emailAddress" placeholder="email"  style="margin:12px" 
  
  ngModel email
  (input)="onUpdateEmailAddress($event)" />
<br>
  <div class="preview"> 
    <div class="textfiles" *ngIf="!isImage && !isPdf">
      {{ fileContent }}
    </div>
    <img id="image" class="imagefile" src="#" *ngIf="isImage"/>
    <iframe id="pdf" src="#" width="100%" height="100%" *ngIf="isPdf"> </iframe>

  </div>




  <input class="btn upload-btn" [disabled]="!yesUpload" id="submitt" type="button" (click)="upload" value="Upload"
  (click)="onUploadCV($event)" />
  <div style="clear: both;"></div>
</form>

</div>