ul {
    list-style: none;
    display: inline;
    margin: auto;
}

li {
    display: inline;
    margin: auto 1rem;
}

.path {
    width: 50%;
}

.preview {
    width: 80%;
    height: 400px;
    margin: auto;
    margin-bottom: 2rem;
    overflow-y: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.preview.textFiles {
    width: 100%;
    white-space: pre-line;
}

.upload {
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 1.5rem;


    border: 2px solid;
    box-shadow: 8px 10px 3px #888888;

    position: relative;
    top: 100px;
}

.upload-btn {
    float: right;
    width: fit-content;
}

.imagefile {
    width: 80%;
    height: 80%;
    
}